<a href="https://colab.research.google.com/github/wcruzIntercam1/DataScience/blob/main/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Montamos Google Drive donde vamos a leer nuestros recursos (archivos)
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
##Importar la librería pandas
import pandas as pd

In [ ]:
## 2. Extraer la información del archivo Test.csv
EmpleadosAttrition= pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/Caracteristicas/empleadosRETO.csv")
EmpleadosAttrition

In [ ]:
## 3. Eliminarcolumnas que no tienen relacion con la salida
EmpleadosAttrition.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)

In [ ]:
## 4. Calcular años empleado
EmpleadosAttrition['Year'] =EmpleadosAttrition['HiringDate'].str[-4:].astype(int)

In [ ]:
## 4. Calcular años empleado
EmpleadosAttrition['YearsAtCompany']=  2023-EmpleadosAttrition['Year']

In [ ]:
##  5. Crear nueva variable DistnaceFRom Home sin kilometros
EmpleadosAttrition=EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'})
EmpleadosAttrition['DistanceFromHome']=EmpleadosAttrition['DistanceFromHome_km'].str.split(pat=' ').str[0].astype(int)

In [ ]:
## 6. Borrar Year, HiringDate y DistanceFromHome_km 
EmpleadosAttrition.drop(['Year', 'HiringDate', 'DistanceFromHome_km'], axis=1)

In [ ]:
##  7. Calcular SueldoPromedioDepto 
SueldoPromedioDepto = pd.DataFrame()
SueldoPromedioDepto['SueldoPromedio']=EmpleadosAttrition.groupby('Department')[['MonthlyIncome']].mean()
SueldoPromedioDepto

                        SueldoPromedio
Department
Human Resources            6239.888889
Research & Development     6804.149813
Sales                      7188.250000

In [ ]:
from sklearn import preprocessing

In [ ]:
## 8. Escalar  MonthlyIncome  este manda error porque en el DF hay variables que no son numericas
##Manda error porque hay colunas no  
escalador=preprocessing.MinMaxScaler()
frame_escalado=escalador.fit_transform(EmpleadosAttrition)
EmpleadosAttrition["MonthlyIncomeNorm"]=pd.Series(frame_escalado[15:15])

In [ ]:
##Genero un frame de variables numercas unicamente porque si no , no pdia hacer el escalado de MonthlyIncome
numericas = EmpleadosAttrition[['Age', 'Education', 'EnvironmentSatisfaction','JobInvolvement','JobLevel', 'JobSatisfaction','MonthlyIncome','NumCompaniesWorked','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StandardHours','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsInCurrentRole','YearsSinceLastPromotion','YearsAtCompany','DistanceFromHome' ]] 
numericas

In [ ]:
## 8. Escalar  MonthlyIncome ya en el df Numericos
from sklearn.preprocessing import MinMaxScaler
escalador=preprocessing.MinMaxScaler()
##frame_escalado2=escalador.fit_transform(numericas)
frame_escalado=escalador.fit(numericas)
print(frame_escalado)
##print(escalador.transform(numericas))
numericas1=escalador.transform(numericas)
##numericas1
print (pd.Series(numericas1[6:,6]))
##numericas1['MonthlyIncomeEsc']=pd.Series(numericas1[6:,6])  ##.astype(float)

MinMaxScaler()
0      0.198587
1      0.229857
2      0.519194
3      0.214195
4      0.073666
         ...
389    0.075248
390    0.187197
391    0.589327
392    0.121124
393    0.092122
Length: 394, dtype: float64

In [ ]:
one_hot = pd.get_dummies(EmpleadosAttrition['BusinessTravel'])
EmpleadosAttrition = EmpleadosAttrition.drop('BusinessTravel',axis = 1)
EmpleadosAttrition = EmpleadosAttrition.join(one_hot)

In [ ]:
##Convierte categoricas a numericas

In [ ]:
one_hot = pd.get_dummies(EmpleadosAttrition['Department'])
EmpleadosAttrition = EmpleadosAttrition.drop('Department',axis = 1)
EmpleadosAttrition = EmpleadosAttrition.join(one_hot)

In [ ]:
##La renonvre porque otra variable tiene una categoria igual
EmpleadosAttrition=EmpleadosAttrition.rename(columns={'Human Resources':'Human ResourcesDep'})

In [ ]:
one_hot = pd.get_dummies(EmpleadosAttrition['EducationField'])
EmpleadosAttrition = EmpleadosAttrition.drop('EducationField',axis = 1)
EmpleadosAttrition = EmpleadosAttrition.join(one_hot)

In [ ]:
one_hot = pd.get_dummies(EmpleadosAttrition['Gender'])
EmpleadosAttrition = EmpleadosAttrition.drop('Gender',axis = 1)
EmpleadosAttrition = EmpleadosAttrition.join(one_hot)

In [ ]:
one_hot = pd.get_dummies(EmpleadosAttrition['JobRole']) 
EmpleadosAttrition = EmpleadosAttrition.drop('JobRole',axis = 1)
EmpleadosAttrition = EmpleadosAttrition.join(one_hot)

In [ ]:
one_hot = pd.get_dummies(EmpleadosAttrition['MaritalStatus'])
EmpleadosAttrition = EmpleadosAttrition.drop('MaritalStatus',axis = 1)
EmpleadosAttrition = EmpleadosAttrition.join(one_hot)

In [ ]:
one_hot = pd.get_dummies(EmpleadosAttrition['Attrition'])
EmpleadosAttrition = EmpleadosAttrition.drop('Attrition',axis = 1)
EmpleadosAttrition = EmpleadosAttrition.join(one_hot)

In [ ]:
## 10. Calcula correlacion

In [ ]:
EmpleadosAttrition.info()

In [ ]:
EmpleadosAttrition['Age'].corr(EmpleadosAttrition['Yes'])

-0.21212111259206842

In [ ]:
EmpleadosAttrition['Education'].corr(EmpleadosAttrition['Yes'])

-0.05553079310984968

In [ ]:
EmpleadosAttrition['EnvironmentSatisfaction'].corr(EmpleadosAttrition['Yes'])

-0.12432694416927642

In [ ]:
EmpleadosAttrition['JobInvolvement'].corr(EmpleadosAttrition['Yes'])

-0.16678478967808572

In [ ]:
EmpleadosAttrition['JobLevel'].corr(EmpleadosAttrition['Yes'])

-0.21426604317577613

In [ ]:
EmpleadosAttrition['JobSatisfaction'].corr(EmpleadosAttrition['Yes'])

-0.16495679045325196

In [ ]:
EmpleadosAttrition['NumCompaniesWorked'].corr(EmpleadosAttrition['Yes'])

-0.009081775325922558

In [ ]:
EmpleadosAttrition['PercentSalaryHike'].corr(EmpleadosAttrition['Yes'])

-0.06087967966387507

In [ ]:
EmpleadosAttrition['PerformanceRating'].corr(EmpleadosAttrition['Yes'])

-0.00647103495364531

In [ ]:
EmpleadosAttrition['RelationshipSatisfaction'].corr(EmpleadosAttrition['Yes'])

-0.030944530658143576

In [ ]:
EmpleadosAttrition['TotalWorkingYears'].corr(EmpleadosAttrition['Yes'])

-0.21332903741456125

In [ ]:
EmpleadosAttrition['TrainingTimesLastYear'].corr(EmpleadosAttrition['Yes'])

-0.07088383377930299

In [ ]:
EmpleadosAttrition['WorkLifeBalance'].corr(EmpleadosAttrition['Yes'])

-0.021722932349419282

In [ ]:
EmpleadosAttrition['YearsInCurrentRole'].corr(EmpleadosAttrition['Yes'])

-0.2039180268902555

In [ ]:
EmpleadosAttrition['YearsSinceLastPromotion'].corr(EmpleadosAttrition['Yes'])

-0.06900034357702403

In [ ]:
EmpleadosAttrition['YearsAtCompany'].corr(EmpleadosAttrition['Yes'])

-0.17600099666009272

In [ ]:
EmpleadosAttrition['DistanceFromHome'].corr(EmpleadosAttrition['Yes'])

0.052732159940648726

In [ ]:
EmpleadosAttrition['Non-Travel'].corr(EmpleadosAttrition['Yes'])

-0.10069838603304206

In [ ]:
EmpleadosAttrition['Travel_Frequently'].corr(EmpleadosAttrition['Yes'])

0.03538713306782459

In [ ]:
EmpleadosAttrition['Travel_Rarely'].corr(EmpleadosAttrition['Yes'])

0.042755214674117435

In [ ]:
EmpleadosAttrition['Human ResourcesDep'].corr(EmpleadosAttrition['Yes'])

0.023389039416125856

In [ ]:
EmpleadosAttrition['Research & Development'].corr(EmpleadosAttrition['Yes'])

-0.07226940828855233

In [ ]:
EmpleadosAttrition['Sales'].corr(EmpleadosAttrition['Yes'])

0.06611580032506321

In [ ]:
EmpleadosAttrition['Human Resources'].corr(EmpleadosAttrition['Yes'])

0.043403645119206705

In [ ]:
EmpleadosAttrition['Life Sciences'].corr(EmpleadosAttrition['Yes'])

-0.02745660825059098

In [ ]:
EmpleadosAttrition['Marketing'].corr(EmpleadosAttrition['Yes'])

0.016768397738896077

In [ ]:
EmpleadosAttrition['Medical'].corr(EmpleadosAttrition['Yes'])

-0.054144235672434565

In [ ]:
EmpleadosAttrition['Other'].corr(EmpleadosAttrition['Yes'])

-0.004274735721297514

In [ ]:
EmpleadosAttrition['Technical Degree'].corr(EmpleadosAttrition['Yes'])

0.12910378854085475

In [ ]:
EmpleadosAttrition['Female'].corr(EmpleadosAttrition['Yes'])

0.02883870932201118

In [ ]:
EmpleadosAttrition['Male'].corr(EmpleadosAttrition['Yes'])

-0.02883870932201118

In [ ]:
EmpleadosAttrition['Divorced'].corr(EmpleadosAttrition['Yes'])

-0.10786945476152986

In [ ]:
EmpleadosAttrition['Married'].corr(EmpleadosAttrition['Yes'])

-0.09473381939998372

In [ ]:
EmpleadosAttrition['Single'].corr(EmpleadosAttrition['Yes'])

0.20584919886483347

In [ ]:
## 12. CRe aun nuevo EmpleadosAttritionFinal con correlacion mayor a 1
EmpleadosAttritionFinal = EmpleadosAttrition[['Age',  'EnvironmentSatisfaction','JobInvolvement','JobLevel', 'JobSatisfaction','TotalWorkingYears','YearsInCurrentRole','YearsAtCompany','Non-Travel' ,'Technical Degree','Divorced','Single','Yes']] 
EmpleadosAttritionFinal=EmpleadosAttritionFinal.rename(columns={'Yes':'Attrition'})
EmpleadosAttritionFinal

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
## 12. Crea  EmpleadosAttritionPCA 
pca=PCA()
pca.fit(EmpleadosAttritionFinal)
##print(pca.explained_variance_ratio_)
EmpleadosAttritionPCA =pca.explained_variance_ratio_
EmpleadosAttritionPCA

array([6.35906988e-01, 2.42170810e-01, 7.90467131e-02, 2.10761137e-02,
       6.52696083e-03, 6.45549360e-03, 2.84312495e-03, 2.72618641e-03,
       1.34300174e-03, 6.40980688e-04, 6.01446338e-04, 4.10593403e-04,
       2.51587489e-04])

In [81]:
## 14, Crea EmpleadosAttritionFinal.csv. 
EmpleadosAttritionFinal.to_csv("/content/gdrive/MyDrive/Colab Notebooks/Caracteristicas/EmpleadosAttritionFinal.csv")